### ENCODING

* MACHINE LEARNING

* Simple project to understand basics and other details about how ML works.
* Here we will learn how to perform ML for further levels.

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
rounds=pd.read_csv("rounds2.csv" , encoding = "ISO-8859-1")
companies=pd.read_csv("companies.txt" , sep="\t", encoding = "ISO-8859-1")

In [7]:
rounds.shape

(114949, 6)

In [9]:
companies.shape

(66368, 10)

In [11]:
rounds.head(7)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0

In [13]:
companies.head(4)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [15]:
len(rounds)

114949

In [17]:
rounds.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [19]:
rounds.info

<bound method DataFrame.info of                                         company_permalink  \
0                                     /organization/-fame
1                                  /ORGANIZATION/-QOUNTER
2                                  /organization/-qounter
3                     /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                   /organization/0-6-com
...                                                   ...
114944                          /organization/zzzzapp-com
114945                          /ORGANIZATION/ZZZZAPP-COM
114946                               /organization/ãeron
114947                             /ORGANIZATION/ÃASYS-2
114948  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

       funding_round_code   funded_at  raised_amount_usd
0                       B  05-01-2015         10000000.0
1                       A  14-10-2014                NaN
2                     NaN  01-03-2014           700000.0
3                       B  30-01-2014          3406878.0
4                       A  19-03-2008          2000000.0
...                   ...         ...                ...
114944                NaN  01-03-2014            41313.0
114945                NaN  01-05-2013            32842.0
114946                  A  01-08-2014                NaN
114947                NaN  01-01-2015            18192.0
114948                NaN  01-10-2013            14851.0

[114949 rows x 6 columns]>

In [27]:
rounds.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [31]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [33]:
companies.info

<bound method DataFrame.info of                                                permalink  \
0                                    /Organization/-Fame
1                                 /Organization/-Qounter
2                    /Organization/-The-One-Of-Them-Inc-
3                                  /Organization/0-6-Com
4                         /Organization/004-Technologies
...                                                  ...
66363  /Organization/Zznode-Science-And-Technology-Co...
66364                          /Organization/Zzzzapp-Com
66365                               /Organization/ÃEron
66366                             /Organization/ÃAsys-2
66367  /Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...

                                                name  \
0                                              #fame
1                                           :Qounter
2                             (THE) ONE of THEM,Inc.
3                                            0-6.com
4                                   004 Technologies
...                                              ...
66363                  ZZNode Science and Technology
66364                          Zzzzapp Wireless ltd.
66365                                         ÃERON
66366                                         Ãasys
66367  Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic

                            homepage_url  \
0                     http://livfame.com
1                 http://www.qounter.com
2                    http://oneofthem.jp
3                     http://www.0-6.com
4      http://004gmbh.de/en/004-interact
...                                  ...
66363              http://www.zznode.com
66364             http://www.zzzzapp.com
66365               http://www.aeron.hu/
66366               http://www.oasys.io/
66367               http://inovatiff.com

                                           category_list     status  \
0                                                  Media  operating
1      Application Platforms|Real Time|Social Network...  operating
2                                      Apps|Games|Mobile  operating
3                                            Curated Web  operating
4                                               Software  operating
...                                                  ...        ...
66363                                Enterprise Software  operating
66364        Advertising|Mobile|Web Development|Wireless  operating
66365                                                NaN  operating
66366  Consumer Electronics|Internet of Things|Teleco...  operating
66367                 Consumer Goods|E-Commerce|Internet  operating

      country_code state_code                 region           city  \
0              IND         16                 Mumbai         Mumbai
1              USA         DE             DE - Other  Delaware City
2              NaN        NaN                    NaN            NaN
3              CHN         22                Beijing        Beijing
4              USA         IL  Springfield, Illinois      Champaign
...            ...        ...                    ...            ...
66363          CHN         22                Beijing        Beijing
66364          HRV         15                  Split          Split
66365          NaN        NaN                    NaN            NaN
66366          USA         CA            SF Bay Area  San Francisco
66367          NaN        NaN                    NaN            NaN

       founded_at
0             NaN
1      04-09-2014
2             NaN
3      01-01-2007
4      01-01-2010
...           ...
66363         NaN
66364  13-05-2012
66365  01-01-2011
66366  01-01-2014
66367         NaN

[66368 rows x 10 columns]>

In [35]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [37]:
rounds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [41]:
len(companies.permalink.unique())

66368

In [43]:
len(rounds.funding_round_permalink.unique())

114949

In [45]:
companies['permalink']=companies['permalink'].str.lower()

In [47]:
companies.head(4)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

In [49]:
len(rounds.company_permalink.unique())

90247

In [51]:
rounds['company_permalink']=rounds['company_permalink'].str.lower()

In [53]:
rounds.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [63]:
data=rounds.copy()

In [65]:
data.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [67]:
data.duplicated().sum()

0

In [69]:
data.isnull().any()

company_permalink          False
funding_round_permalink    False
funding_round_type         False
funding_round_code          True
funded_at                  False
raised_amount_usd           True
dtype: bool

In [71]:
data['company_permalink']

0                                       /organization/-fame
1                                    /organization/-qounter
2                                    /organization/-qounter
3                       /organization/-the-one-of-them-inc-
4                                     /organization/0-6-com
                                ...
114944                            /organization/zzzzapp-com
114945                            /organization/zzzzapp-com
114946                                 /organization/ãeron
114947                               /organization/ãasys-2
114948    /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...
Name: company_permalink, Length: 114949, dtype: object

In [73]:
data['company_permalink'].unique()

array(['/organization/-fame', '/organization/-qounter',
       '/organization/-the-one-of-them-inc-', ...,
       '/organization/ã\x81eron', '/organization/ã\x94asys-2',
       '/organization/ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic'],
      dtype=object)

In [79]:
data[data['company_permalink'].str.isnumeric()].shape

(0, 6)

In [81]:
len(data.company_permalink.unique())

66370

In [83]:
len(companies.permalink.unique())

66368

In [85]:
#Here seems 2 extra permalinks in rounds

In [89]:
df=companies.copy()

In [91]:
df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/organization/ãeron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/organization/ãasys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [99]:
unique_ids = data[~data['company_permalink'].isin(df['permalink'])]

In [101]:
unique_ids

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
29597,/organization/e-cãbica,/funding-round/8491f74869e4fe8ba9c378394f8fbdea,seed,NaN,01-02-2015,NaN
31863,/organization/energystone-games-çµç³æ¸¸æ,/funding-round/b89553f3d2279c5683ae93f45a21cfe0,seed,NaN,09-08-2014,NaN
45176,/organization/huizuche-com-æ ç§ÿè½¦,/funding-round/8f8a32dbeeb0f831a78702f83af78a36,seed,NaN,18-09-2014,NaN
58473,/organization/magnet-tech-ç£ç³ç§æ,/funding-round/8fc91fbb32bc95e97f151dd0cb4166bf,seed,NaN,16-08-2014,1625585.0
101036,/organization/tipcat-interactive-æ²èÿä¿¡æ¯ç...,/funding-round/41005928a1439cb2d706a43cb661f60f,seed,NaN,06-09-2010,NaN
109969,/organization/weiche-tech-åè½¦ç§æ,/funding-round/f74e457f838b81fa0b29649740f186d8,venture,A,06-09-2015,NaN
113839,/organization/zengame-ç¦ æ¸¸ç§æ,/funding-round/6ba28fb4f3eadf5a9c6c81bc5dde6cdf,seed,NaN,17-07-2010,NaN

In [105]:
rounds=data.copy()

In [107]:
companies=df.copy()

In [109]:
rounds['company_permalink'] = rounds.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds.loc[~rounds['company_permalink'].isin(companies['permalink']), :]

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
77,/organization/10north,/funding-round/b41ff7de932f8b6e5bbeed3966c0ed6a,equity_crowdfunding,NaN,12-08-2014,NaN
729,/organization/51wofang-,/funding-round/346b9180d276a74e0fbb2825e66c6f5b,venture,A,06-07-2015,5000000.0
2670,/organization/adslinked,/funding-round/449ae54bb63c768c232955ca6911dee4,seed,NaN,29-09-2014,100000.0
3166,/organization/aesthetic-everything-social-network,/funding-round/62593455f1a69857ed05d5734cc04132,equity_crowdfunding,NaN,12-10-2014,NaN
3291,/organization/affluent-attach-club-2,/funding-round/626678bdf1654bc4df9b1b34647a4df1,seed,NaN,15-10-2014,100000.0
...,...,...,...,...,...,...
110545,/organization/whodats-spaces,/funding-round/d5d6db3d1e6c54d71a63b3aa0c9278e6,seed,NaN,28-10-2014,30000.0
113839,/organization/zengame-,/funding-round/6ba28fb4f3eadf5a9c6c81bc5dde6cdf,seed,NaN,17-07-2010,NaN
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [111]:
len(rounds.company_permalink.unique())

66368

In [113]:
companies.loc[~companies['permalink'].isin(rounds['company_permalink']) , :]

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
43,/organization/10â°north,10Â°North,NaN,Fashion,operating,CAN,ON,Toronto,Mississauga,05-01-2013
426,/organization/51wofang-æ å¿§ææ¿,51wofang æ å¿§ææ¿,http://www.51wofang.com,NaN,closed,NaN,NaN,NaN,NaN,01-01-2014
1506,/organization/adslinkedâ¢,AdsLinkedâ¢,http://www.adslinked.com,Advertising|Internet,operating,NaN,NaN,NaN,NaN,NaN
1775,/organization/aesthetic-everythingâ®-social-ne...,Aesthetic EverythingÂ® Social Network,http://aestheticeverything.com/,Public Relations,operating,USA,CA,Los Angeles,Marina Del Rey,15-06-2009
1834,/organization/affluent-attachã©-club-2,Affluent AttachÃ© Club,http://www.affluentattache.com/,Hospitality,operating,USA,CA,Los Angeles,Beverly Hills,NaN
...,...,...,...,...,...,...,...,...,...,...
63833,/organization/whodatâs-spaces,Whodatâs Spaces,NaN,Apps,operating,NaN,NaN,NaN,NaN,NaN
65778,/organization/zengame-ç¦ æ¸¸ç§æ,ZenGame ç¦ æ¸¸ç§æ,http://www.zen-game.com,Internet|Mobile Games|Online Gaming,closed,NaN,NaN,NaN,NaN,17-07-2010
66365,/organization/ãeron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/organization/ãasys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [115]:
companies['permalink'] = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')

In [117]:
companies.loc[~companies['permalink'].isin(rounds['company_permalink']), :]

Empty DataFrame
Columns: [permalink, name, homepage_url, category_list, status, country_code, state_code, region, city, founded_at]
Index: []

In [119]:
rounds.to_csv("rounds_clean.csv", sep=',', index=False)
companies.to_csv("companies_clean.csv", sep='\t', index=False)